In [2]:
import websocket
import pandas as pd
import numpy as np
from datetime import datetime
import ast
import sqlalchemy
import pymysql

In [15]:
engine = sqlalchemy.create_engine('sqlite:///trading.db')
ws = websocket.create_connection("wss://ws.kraken.com/")
ws.send('{"event":"subscribe", "subscription":{"name":"ohlc", "interval":1}, "pair":["ETH/EUR"]}')

93

In [41]:
message = ws.recv()
print(message)

[567,["1635543768.679334","1635543780.000000","3816.53000","3818.02000","3816.53000","3818.02000","3817.93574","7.92257659",20],"ohlc-1","ETH/EUR"]

In [42]:
msg = message

In [57]:
obj = ast.literal_eval(message)
data = obj[1][1:-1]
print(data)
data = [data]
df = pd.DataFrame(data, columns=["time_end", "open", "high", "low", "close", "vwap" ,"volume"])
df2 = pd.DataFrame(data, columns=["time_end", "open", "high", "low", "close", "vwap" ,"volume"])
print(df.append(df2))

['1635543780.000000', '3816.53000', '3818.02000', '3816.53000', '3818.02000', '3817.93574', '7.92257659']
            time_end        open        high         low       close  \
0  1635543780.000000  3816.53000  3818.02000  3816.53000  3818.02000
0  1635543780.000000  3816.53000  3818.02000  3816.53000  3818.02000

         vwap      volume
0  3817.93574  7.92257659
0  3817.93574  7.92257659

In [61]:
print(datetime.fromtimestamp(float(df["time_end"])))

2021-10-29 23:43:00

In [96]:
def get_dataframe_from_sql(engstr='mysql+pymysql://root:root@localhost/kryptotrading?charset=utf8mb4', sql_stmt='SELECT * FROM etheur_ohlc;'):
    engine = sqlalchemy.create_engine(engstr)
    df = pd.read_sql(sql_stmt, engine)
    return df.copy()

df = get_dataframe_from_sql()

In [97]:
print(df)

              time_end        open        high         low       close  \
0  2021-10-30 00:27:00  3809.57000  3810.11000  3809.17000  3809.17000
1  2021-10-30 00:28:00  3809.18000  3809.95000  3809.17000  3809.95000
2  2021-10-30 00:34:00  3801.11000  3801.11000  3798.07000  3798.07000
3  2021-10-30 00:35:00  3800.28000  3800.28000  3799.46000  3799.46000
4  2021-10-30 00:36:00  3801.05000  3801.09000  3801.05000  3801.07000
5  2021-10-30 00:37:00  3803.59000  3803.63000  3803.59000  3803.63000
6  2021-10-30 01:36:00  3818.31000  3818.31000  3818.31000  3818.31000
7  2021-10-30 01:37:00  3818.32000  3818.32000  3817.25000  3817.25000
8  2021-10-30 01:38:00  3815.21000  3815.21000  3814.99000  3814.99000
9  2021-10-30 01:39:00  3814.99000  3815.15000  3814.19000  3815.15000
10 2021-10-30 01:44:00  3808.31000  3808.31000  3807.84000  3808.29000
11 2021-10-30 01:45:00  3808.29000  3808.29000  3808.29000  3808.29000
12 2021-10-30 01:45:00  3808.29000  3809.71000  3808.29000  3809.71000

        volume
0   0.27662957
1   0.18673555
2   2.02334799
3   0.71352077
4   0.67491298
5   0.07457317
6   0.35351577
7   0.02118820
8   1.05498629
9   0.07093421
10  0.92294072
11  0.25270969
12  0.45319544

In [98]:
print(df.drop_duplicates(subset=["time_end"], keep='last'))

              time_end        open        high         low       close  \
0  2021-10-30 00:27:00  3809.57000  3810.11000  3809.17000  3809.17000
1  2021-10-30 00:28:00  3809.18000  3809.95000  3809.17000  3809.95000
2  2021-10-30 00:34:00  3801.11000  3801.11000  3798.07000  3798.07000
3  2021-10-30 00:35:00  3800.28000  3800.28000  3799.46000  3799.46000
4  2021-10-30 00:36:00  3801.05000  3801.09000  3801.05000  3801.07000
5  2021-10-30 00:37:00  3803.59000  3803.63000  3803.59000  3803.63000
6  2021-10-30 01:36:00  3818.31000  3818.31000  3818.31000  3818.31000
7  2021-10-30 01:37:00  3818.32000  3818.32000  3817.25000  3817.25000
8  2021-10-30 01:38:00  3815.21000  3815.21000  3814.99000  3814.99000
9  2021-10-30 01:39:00  3814.99000  3815.15000  3814.19000  3815.15000
10 2021-10-30 01:44:00  3808.31000  3808.31000  3807.84000  3808.29000
12 2021-10-30 01:45:00  3808.29000  3809.71000  3808.29000  3809.71000

        volume
0   0.27662957
1   0.18673555
2   2.02334799
3   0.71352077
4   0.67491298
5   0.07457317
6   0.35351577
7   0.02118820
8   1.05498629
9   0.07093421
10  0.92294072
12  0.45319544